<!doctype html>
<html lang="en">

<head>
   <%- include ("head.ejs") %>



</head>

<body>


   <!-- loader Start -->
   <div id="loading">
      <div id="loading-center">
      </div>
   </div>
   <!-- loader END -->
   <!-- Wrapper Start -->
   <div class="wrapper">
      <!-- Sidebar  -->
      <%- include ("sidebar.ejs") %>

         <!-- TOP Nav Bar -->
         <%- include ("sidebar-top-index.ejs") %>

            <!-- TOP Nav Bar END -->
            <!-- Page Content  -->
            <div id="content-page" class="content-page">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-sm-12">

                        <div class="iq-card">
                           <div class="iq-card-header d-flex justify-content-between">
                              <div class="iq-header-title">
                                 <h4 class="card-title">Danh sách sách</h4>
                              </div>
                              <div class="iq-card-header-toolbar d-flex align-items-center">
                                 <a href="/admin-add-book" class="btn btn-primary">Thêm sách</a>
                              </div>
                           </div>
                           <div class="iq-card-body">
                              <div class="table-responsive">
                                 <table class="data-tables table table-striped table-bordered" style="width:100%">
                                    <thead>
                                       <tr>
                                          <th style="width: 3%;">STT</th>
                                          <th style="width: 12%;">Hình ảnh</th>
                                          <th style="width: 15%;">Tên sách</th>

                                          <th style="width: 15%;">Tác giả sách</th>
                                          <th style="width: 18%;">Giá gốc</th>
                                          <th style="width: 7%;">Giá bán</th>
                                          <th style="width: 7%;">Số lượng</th>
                                          <!-- <th style="width: 7%;">Sách PDF</th> -->
                                          <th style="width: 4%;">Hoạt động</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% listAdminBooks.forEach((book,index)=> {%>
                                          <tr>
                                             <input style="display: none;" name="productID" value="<%=book.productID%>">


                                             <td>
                                                <%= index+1 %>
                                             </td>
                                             <td><img class="img-fluid rounded"
                                                   src="images/browse-books/<%=book.thumbnail%>" alt=""></td>

                                             <td>
                                                <%= book.productName %>
                                             </td>

                                             <td>
                                                <%= book.authorName%>
                                             </td>
                                             <td>
                                                <%= book.price_root %>
                                             </td>
                                             <td>
                                                <%= book.unitPrice %>
                                             </td>
                                             <td>
                                                <%= book.quantity %>
                                             </td>
                                             <td>

                                                <div class="flex align-items-center list-user-action">
                                                   <a class="bg-primary" data-toggle="tooltip" data-placement="top"
                                                      title="" data-original-title="Edit"
                                                      href="/admin-update-book/<%= book.productID %>"><i
                                                         class="ri-pencil-line"></i></a>


                                                   <button
                                                      style="width: 24px; margin-left: 3px;margin-top: -2px; text-align: center; height: 25px; position: relative;"
                                                      type="button" class="btn btn-danger" data-target="#deleteModal"
                                                      data-toggle="modal"><i class="ri-delete-bin-line"
                                                         style="position: absolute; top: 2px; right: 0px;"></i></button>
                                                   <!-- Modal -->
                                                </div>
                                                <div class="modal fade" id="deleteModal">
                                                   <div class="modal-dialog">
                                                      <div class="modal-content">
                                                         <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                               Confirm Delete
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                               aria-label="Close">
                                                               <span aria-hidden="true">&times;</span>
                                                            </button>
                                                         </div>
                                                         <div class="modal-body">
                                                            <p>Are you sure you want to delete?</p>
                                                         </div>
                                                         <div class="modal-footer">
                                                            <button class="btn btn-secondary" id="close-modal"
                                                               class="close" data-dismiss="modal"
                                                               aria-label="Close">No</button>
                                                            <form action="/postadmin-delete-book/<%= book.productID %>"
                                                               method="post">
                                                               <button class="btn btn-danger">Yes</button>
                                                            </form>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>



                                             </td>


                                             </td>
                                          </tr>

                                          <% });%>
                                             <% %>


                                    </tbody>
                                 </table>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
   </div>
   <!-- Wrapper END -->
   <!-- Footer -->
   <footer class="iq-footer">
      <%- include ("footer.ejs") %>
   </footer>
   <!-- Footer END -->
   <!-- color-customizer -->
   <!-- color-customizer END -->
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->

   <%- include ("boostrapJs.ejs") %>
</body>

</html>