<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("head.ejs") %>
        <style>
            .avatar-preview {
                position: relative;
            }



            .updateFile {

                background-color: #50b5ff;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                position: relative;

            }
        </style>


</head>

<body>

    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include ("sidebar.ejs") %>
            <!-- TOP Nav Bar -->
            <%- include ("sidebar-top-index.ejs") %>
                <!-- TOP Nav Bar END -->
                <!-- Page Content  -->
                <div id="content-page" class="content-page">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="iq-card">
                                    <div class="iq-card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title">Thêm sách</h4>
                                        </div>
                                    </div>
                                    <div class="iq-card-body">
                                        <form action="/admin-update-book" method="post" enctype="multipart/form-data">
                                            <div class="form-group" style="display: none;">
                                                <label>id:</label>
                                                <input type="text" class="form-control" name="productID"
                                                    value="  <%= listUpdateBook.productID %>">
                                            </div>
                                            <div class="form-group">
                                                <label>Tên sách:</label>
                                                <input type="text" class="form-control" name="name"
                                                    value=" <%= listUpdateBook.productName %>">
                                            </div>
                                            <div class="form-group">
                                                <label>Danh mục sách:</label>
                                                <select class="form-control select2" id="exampleFormControlSelect1"
                                                    aria-hidden="true" tabindex="-1" multiple name="category">
                                                    <% listCategory.forEach((cate,index)=> {%>
                                                        <option selected="" disabled="" value="<%=cate.categoryId%>">
                                                            <%=cate.categoriesName%>
                                                        </option>
                                                        <% });%>
                                                            <% %>
                                                                <% listCate.forEach((category,index)=> {%>
                                                                    <option value="<%=category.categoryId%>">
                                                                        <%=category.categoriesName%>
                                                                    </option>
                                                                    <% });%>
                                                                        <% %>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Tác giả sách:</label>
                                                <select class="form-control select2" id="exampleFormControlSelect2"
                                                    name="author">
                                                    <option selected="" disabled="">
                                                        <%= listUpdateBook.authorName %>
                                                    </option>
                                                    <% listAuthor.forEach((author,index)=> {%>
                                                        <option value="<%= author.authorId %>">
                                                            <%= author.authorName %>
                                                        </option>
                                                        <% });%>
                                                            <% %>

                                                </select>
                                            </div>


                                            <div class="form-group">
                                                <label>Giá gốc:</label>
                                                <input type="text" class="form-control" name="price_root"
                                                    value=" <%= listUpdateBook.price_root %>">
                                            </div>
                                            <div class="form-group">
                                                <label>Giá bán:</label>
                                                <input type="text" class="form-control" name="price"
                                                    value=" <%= listUpdateBook.unitPrice %>">
                                            </div>
                                            <div class="form-group">
                                                <label>số lượng:</label>
                                                <input type="text" class="form-control" name="quantity "
                                                    value=" <%= listUpdateBook.quantity %>">
                                            </div>
                                            <div class="form-group">
                                                <label>Nội dung:</label>
                                                <textarea class="form-control" rows="4"
                                                    name="desciption"> <%= listUpdateBook.desciption %></textarea>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="" class="font-weight-bold">thumnails
                                                        <strong class="text-danger">*</strong>
                                                    </label>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="d-flex">
                                                        <div class="payment-method-item">
                                                            <div class="payment-method-header d-flex flex-wrap">
                                                                <div class="thumb">
                                                                    <div class="avatar-preview"
                                                                        style="position: relative;">
                                                                        <img id="img"
                                                                            src="/images/browse-books/<%=listUpdateBook.thumbnail%>"
                                                                            alt="" width="200px" class=" rounded-lg"
                                                                            height="240px">
                                                                        <input type="hidden"
                                                                            value="<%=listUpdateBook.thumbnail%>"
                                                                            name="fakethumbnail">
                                                                    </div>
                                                                </div>
                                                                <div class="updateFile"
                                                                    style="background-color: #19a2a4; border-radius: 50%; width: 50px; height: 50px; bottom: -5px;left: 184px;position: absolute; ">
                                                                    <input style="cursor: pointer;" type="file"
                                                                        accept="image/png, image/jpeg" name="image"
                                                                        id="upload" class="custom-file-input">
                                                                    <label for=""
                                                                        style="position: absolute;right: 16px;top: 14px; "><i
                                                                            class="fa-solid fa-pen-nib"
                                                                            style="color: #eff3f3;"></i></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="" class="font-weight-bold">Gallery
                                                        <strong class="text-danger">*</strong>
                                                    </label>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-lg-12 text-right">
                                                            <a class="btn btn-outline-success mb-2"
                                                                id="bth-add-gallery">
                                                                <i class="fa-thin fa-plus" style="color: #a1a7b5;"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row " id="__gallery_image" style="height: auto">

                                                        <% listImage.forEach((image,index)=> {%>
                                                            <div class=" col-lg-3 __gallery_image "
                                                                style="margin-right: 60px; margin-bottom: 100px; ">
                                                                <div class="form-group" style=" width: 230px; height: 290px; position: relative;border: 3px solid #f1f1f1;
                                                        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
                                                        border-radius: 10px;">
                                                                    <button type="button"
                                                                        style="width: 40px;height: 40px ; position: absolute; z-index: 10; right: 0;"
                                                                        class="btn btn-sm btn-danger removeBtn">
                                                                        <i class="fa-solid fa-xmark"
                                                                            style="color: #faf5f6;"></i>

                                                                    </button>
                                                                    <div class="image-upload " style="width: 100%; ">
                                                                        <div class="thumb" style="width: 100%;">
                                                                            <div class="avatar-preview "
                                                                                style="width: 100%;">
                                                                                <div class="profilePicPreview">

                                                                                    <img class="img"
                                                                                        src="/images/browse-books/<%=image.name%>"
                                                                                        alt="" width="220px"
                                                                                        class=" rounded-lg"
                                                                                        height="280px">
                                                                                </div>
                                                                            </div>
                                                                            <div class="avatar-edit">
                                                                                <input
                                                                                    style=" cursor: pointer; position: absolute;width: 230px;bottom: -82px; height: 46px;"
                                                                                    type="file" name="gallery"
                                                                                    accept="image/png, image/jpeg"
                                                                                    class="custom-file-input"
                                                                                    id="profilePicUploadItem<%=index+1%>"
                                                                                    multiple>
                                                                                <label for="profilePicUploadItem"
                                                                                    class="bg-success"
                                                                                    style="cursor: pointer;background-color: #1dc9a9!important;width: 230px;border-radius: 4px; height: 46px;position: absolute;bottom: -90px;;left: 0; color: #faf5f6; text-align: center;">Upload
                                                                                    Image</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>

                                                            </div>

                                                            <% });%>
                                                                <% %>

                                                    </div>

                                                </div>
                                            </div>

                                    </div>
                                </div>
                                <button id="send" type="submit" class="btn btn-primary">Gửi</button>
                                <button type="reset" class="btn btn-danger">Trở lại</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <footer class="iq-footer">
        <%- include ("footer.ejs") %>
    </footer>

    <%- include ("boostrapJs.ejs") %>
</body>
<script>




    function addgallery() {
        let btnaddAllery = document.getElementById('bth-add-gallery');
        let galleryImage = document.getElementById('__gallery_image');
        let arrGallery = document.getElementsByClassName('__gallery_image');
        let arr = document.getElementsByName('image')
        let img = document.getElementsByClassName('img')
        const files = document.querySelector("input[type=file]").files;

        const reader = new FileReader();
        let index = arrGallery.length
        btnaddAllery.onclick = function (e) {



            console.log(index)
            index = index + 1

            let html = `<div class=" col-lg-3 __gallery_image " style="margin-right: 60px;margin-bottom: 100px;">
                                                        <div class="form-group" style=" width: 230px; height: 290px; position: relative;border: 3px solid #f1f1f1;
                                                        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
                                                        border-radius: 10px;">
                                                            <button type="button"
                                                                style="width: 40px;height: 40px ; position: absolute; z-index: 10; right: 0;"
                                                                class="btn btn-sm btn-danger removeBtn">
                                                                <i class="fa-solid fa-xmark"
                                                                    style="color: #faf5f6;"></i>

                                                            </button>
                                                            <div class="image-upload " style="width: 100%; ">
                                                                <div class="thumb" style="width: 100%;">
                                                                    <div class="avatar-preview " style="width: 100%;">
                                                                        <img src="/images/browse-books/anh-nen-mau-trang-001 (1).jpg" class="img"
                                                                            alt="" width="220px" 
                                                                            height="280px">
                                                                    </div>
                                                                    <div class="avatar-edit">
                                                                <input
                                                                style=" cursor: pointer; position: absolute;width: 230px;bottom: -82px; height: 46px;"
                                                                    type="file" name="gallery"
                                                                    accept="image/png, image/jpeg"
                                                                    class="custom-file-input" id="profilePicUploadItem${index}"
                                                                    multiple>
                                                                <label for="profilePicUploadItem${index}" class="bg-success"
                                                                    style="background-color: #1dc9a9!important;width: 230px;border-radius: 4px; height: 46px;position: absolute;bottom: -90px;;left: 0; color: #faf5f6; text-align: center;">Upload
                                                                    Image</label>
                                                            </div>
                                                                </div>
                                                            </div>
                                                            

                                                        </div>

                                                    </div>`


            galleryImage.insertAdjacentHTML("beforeend", html);


        }
    }
    addgallery();

    (function ($) {
        $('#upload').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();
                console.log(url)
                reader.onload = function (e) {
                    let a = $('#img').attr('src', e.target.result);
                    console.log(a)
                }
                reader.readAsDataURL(input.files[0]);

            }
            else {
                $('#img').attr('src', 'images/no_preview.png');
            }
        });
        console.log('abc')
        function proPicURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var preview = $(input).parents('.thumb').find('.img');
                    let a = $(preview).attr('src', e.target.result)
                    console.log(a);
                    $(preview).hide();
                    $(preview).fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("body").on('change', '.custom-file-input', function () {
            proPicURL(this);
        });
        $(document).on('click', '.removeBtn', function () {
            $(this).closest('.__gallery_image').remove();
        });

    })(jQuery);
</script>


</html>