<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->

   <%- include ("head.ejs") %>
      <style>
         .form-massage {
            color: red;
         }
      </style>
</head>

<body class="sidebar-main-active right-column-fixed">
   <!-- loader Start -->
   <div id="loading">
      <div id="loading-center">
      </div>
   </div>
   <!-- loader END -->
   <!-- Wrapper Start -->
   <div class="wrapper">
      <!-- Sidebar  -->
      <%- include ("sidebarIndex.ejs") %>
         <!-- TOP Nav Bar -->
         <%- include ("sidebar-top-index.ejs") %>

            <!-- TOP Nav Bar END -->
            <!-- Page Content  -->

            <div id="content-page" class="content-page">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="iq-card">
                           <div class="iq-card-body p-0">
                              <div class="iq-edit-list">
                                 <ul class="iq-edit-profile d-flex nav nav-pills">
                                    <li class="col-md-3 p-0">
                                       <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                          Thông tin cá nhân
                                       </a>
                                    </li>
                                    <li class="col-md-3 p-0">
                                       <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                          Đổi mật khẩu
                                       </a>
                                    </li>
                                    <li class="col-md-3 p-0">
                                       <a class="nav-link" data-toggle="pill" href="#emailandsms">
                                          Email và SMS
                                       </a>
                                    </li>
                                    <li class="col-md-3 p-0">
                                       <a class="nav-link" data-toggle="pill" href="#manage-contact">
                                          Quản lý liên hệ
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div class="iq-edit-list-data">
                           <div class="tab-content">
                              <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                                 <div class="iq-card">
                                    <div class="iq-card-header d-flex justify-content-between">
                                       <div class="iq-header-title">
                                          <h4 class="card-title">Thông tin cá nhân</h4>
                                       </div>
                                    </div>
                                    <div class="iq-card-body">
                                       <form action="/postProfile" method="post" enctype="multipart/form-data">
                                          <div class="form-group row align-items-center">
                                             <div class="col-md-12">
                                                <div class="profile-img-edit">
                                                   <img class="profile-pic"
                                                      src="/images/browse-books/<%=profile.thumbnail%>"
                                                      alt="profile-pic">
                                                   <div class="p-image">
                                                      <i class="ri-pencil-line upload-button"></i>
                                                      <input class="file-upload" type="file" accept="image/*" value=""
                                                         name="thumbnail" />
                                                      <input type="hidden" value="<%=profile.thumbnail%>"
                                                         name="fakethumbnail">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class=" row align-items-center">
                                             <div class="form-group col-sm-6">
                                                <label for="fname">First Name:</label>
                                                <input type="text" class="form-control" id="fname" name="fname"
                                                   value="<%=profile.firstname%>" required>
                                             </div>
                                             <div class="form-group col-sm-6">
                                                <label for="lname">Last Name:</label>
                                                <input type="text" class="form-control" id="lname" name="lname"
                                                   value="<%=profile.lastname%>" required>
                                             </div>
                                             <div class="form-group col-sm-6">
                                                <label for="uname">Tên tài khoản:</label>
                                                <input type="text" class="form-control" id="uname" name="username"
                                                   value="<%=profile.name%>" required>
                                             </div>

                                             <div class="form-group col-sm-6">
                                                <label class="d-block">Giới tính:</label>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                   <% if(profile.sex==1){ %>
                                                      <input type="radio" value="1" id="customRadio6"
                                                         name="customRadio1" class="custom-control-input" checked="">
                                                      <% } else{ %>
                                                         <input type="radio" value="1" id="customRadio6"
                                                            name="customRadio1" class="custom-control-input">
                                                         <% } %>
                                                            <label class="custom-control-label" for="customRadio6">
                                                               Nam
                                                            </label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                   <% if(profile.sex==0){ %>
                                                      <input type="radio" value="0" id="customRadio" name="customRadio1"
                                                         class="custom-control-input" checked="">
                                                      <% } else{ %>
                                                         <input type="radio" value="0" id="customRadio7"
                                                            name="customRadio1" class="custom-control-input">
                                                         <% } %>
                                                            <label class="custom-control-label" for="customRadio7">
                                                               Nữ
                                                            </label>
                                                </div>

                                             </div>

                                             <div class="form-group col-sm-6">
                                                <div class="form-group col-sm-6">
                                                   <label for="dob">Ngày sinh:</label>
                                                   <input type="date" class="form-control" id="dob" name="date" value=""
                                                      required>
                                                </div>
                                                <div class="form-group">
                                                   <label>Tỉnh/Thành phố:</label>

                                                   <select class="form-control" id="city" name="city" required>
                                                      <!-- <input type="text" class="form-control" name="city"
                                                         value=" <%=profile.city%>" required> -->
                                                      <option value="">chọn</option>


                                                   </select>
                                                </div>
                                                <div class="form-group">
                                                   <label>Quận/huyện</label>
                                                   <select class="form-control" id="district" name="district" required>
                                                      <option value="">
                                                         Chọn
                                                      </option>
                                                   </select>
                                                </div>
                                                <div class="form-group">
                                                   <label for="">Phường/Xã</label>
                                                   <select class="form-control" id="ward" name="ward">
                                                      <option value="">
                                                         Chọn
                                                      </option>
                                                   </select>
                                                </div>
                                             </div>
                                             <div class="form-group col-sm-6">
                                                <label>Địa chỉ:</label>
                                                <textarea class="form-control" name="address" rows="5"
                                                   style="line-height: 22px;">
                                                   <%=profile.address%>
                                                </textarea>
                                             </div>



                                          </div>
                                          <button type="submit" class="btn btn-primary mr-2">Gửi</button>
                                          <button type="reset" class="btn iq-bg-danger">Hủy bỏ</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                                 <div class="iq-card">

                                    <div class="iq-card-header d-flex justify-content-between">
                                       <div class="iq-header-title">
                                          <h4 class="card-title">Đổi mật khẩu</h4>
                                       </div>
                                    </div>
                                    <div class="iq-card-body">
                                       <form action="/updatePassword" method="post" id="form-1">
                                          <div style="display: none; width: 100%;text-align: center;"
                                             class="alert alert-success" role="alert" id="success">
                                             Đổi mật khẩu thành công
                                          </div>
                                          <div class="alert alert-danger" role="alert"
                                             style="display: none;width: 100%;text-align: center;" id="warning">
                                             Mật khẩu cũ không chính xác
                                          </div>
                                          <div class="form-group">
                                             <label for="cpass">Mật khẩu hiện tại:</label>

                                             <button style="border: none; color: #0dd6b8; background-color: #fff;"
                                                class="float-right" type="button" class="btn btn-danger"
                                                data-target="#deleteModal" data-toggle="modal">Quên mật khẩu</button>
                                             <input type="Password" class="form-control" id="cpass" name="cpass"
                                                value="">
                                             <span class="form-massage"></span>
                                          </div>
                                          <div class="form-group ">
                                             <label for="npass">Mật khẩu mới:</label>
                                             <input type="Password" class="form-control" id="npass" name="npass">
                                             <span class="form-massage"></span>
                                          </div>
                                          <div class="form-group">
                                             <label for="vpass">Xác nhận lại mật khẩu:</label>
                                             <input type="Password" class="form-control" id="vpass" name="vpass"
                                                value="">
                                             <span class="form-massage"></span>
                                          </div>
                                          <button type="submit" class="btn btn-primary mr-2">Gửi</button>
                                          <button type="reset" class="btn iq-bg-danger">Hủy bỏ</button>
                                       </form>
                                    </div>
                                    <div class="modal fade" id="deleteModal">
                                       <div class="modal-dialog">
                                          <div class="modal-content">
                                             <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                   Quên mật khẩu
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                   aria-label="Close">
                                                   <span aria-hidden="true">&times;</span>
                                                </button>
                                             </div>
                                             <div class="modal-body">
                                                <p>Bạn muốn gửi yêu cầu lấy mã xác thực qua gmail </p>
                                             </div>
                                             <div class="modal-footer">

                                                <button class="btn btn-secondary" id="close-modal" class="close"
                                                   data-dismiss="modal" aria-label="Close">No</button>
                                                <form action="/sendMail" method="post">
                                                   <button type="button" onclick="sendmail(this)" data-toggle="modal"
                                                      data-target="#modalcode" class="btn btn-danger">Yes
                                                   </button>
                                                </form>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <button style="display: none" type="button" data-toggle="modal"
                                       data-target="#modalPass" class="btn btn-danger">Yes
                                    </button>

                                    <!-- lấy mã xác thực  -->
                                    <div class="modal fade" id="modalcode" tabindex="-1" role="dialog"
                                       aria-labelledby="myModalLabel" aria-hidden="true">
                                       <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                             <div class="modal-header text-center">
                                                <h4 class="modal-title w-100 font-weight-bold">Quên mật khẩu</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                   aria-label="Close">
                                                   <span aria-hidden="true">&times;</span>
                                                </button>
                                             </div>

                                             <div class="alert alert-danger" role="alert"
                                                style="display: none;width: 100%;text-align: center;" id="warning2">
                                                Mật mã không chính xác
                                             </div>
                                             <div class="modal-body mx-3">
                                                <span> Vui lòng kiểm tra mã trong email của bạn. Mã này gồm 6 chữ
                                                   số.</span><br>
                                                <form action="/sendMail" method="post">
                                                   <button style="border: none; color: #0dd6b8; background-color: #fff;"
                                                      type="button" onclick="sendmail(this)">Bạn chưa có mã
                                                      ?</button><br>

                                                </form>

                                                <div class="md-form mb-4">
                                                   <label data-error="wrong" data-success="right"
                                                      for="defaultForm-pass">Nhập mã gồm 6 chữ số </label>
                                                   <form action="" autocomplete="off">
                                                      <input type="text" autocomplete="on" id="value-code"
                                                         class="form-control validate" value="" placeholder="######">
                                                   </form>
                                                </div>

                                             </div>
                                             <div class="modal-footer d-flex justify-content-center">
                                                <form action="" method="post">
                                                   <button type="button" onclick="nhapma(this)" data-toggle="modal"
                                                      class="btn btn-primary mr-2">Tiếp
                                                      tục</button>
                                                </form>
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                    <!-- forget pass -->

                                    <div class="modal fade" id="modalPass" tabindex="-1" role="dialog"
                                       aria-labelledby="myModalLabel" aria-hidden="true">
                                       <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                             <div class="modal-header text-center">
                                                <h4 class="modal-title w-100 font-weight-bold">Quên mật khẩu</h4>
                                                <button type="button" class="close" id="close-pass" data-dismiss="modal"
                                                   aria-label="Close">
                                                   <span aria-hidden="true">&times;</span>
                                                </button>
                                             </div>
                                             <form action="/forgetPassword" method="post" id="form-2">
                                                <div class="modal-body mx-3">
                                                   <!-- <span> Nhập mật khẩu mới </span><br> -->

                                                   <div style="display: none; width: 100%;text-align: center;"
                                                      class="alert alert-success" role="alert" id="success2">
                                                      Đổi mật khẩu thành công
                                                   </div>
                                                   <div class="alert alert-danger" role="alert"
                                                      style="display: none;width: 100%;text-align: center;"
                                                      id="warning2">
                                                      Đổi mật khẩu thất bại
                                                   </div>
                                                   <div class="md-form mb-4">
                                                      <div class="form-group ">
                                                         <label for="npass">Mật khẩu mới:</label>
                                                         <input type="Password" class="form-control" id="password"
                                                            name="password">
                                                         <span class="form-massage"></span>
                                                      </div>
                                                   </div>

                                                   <div class="md-form mb-4">
                                                      <div class="form-group">
                                                         <label for="vpass">Xác nhận lại mật khẩu:</label>
                                                         <input type="Password" class="form-control" id="confPass"
                                                            name="confPass" value="">
                                                         <span class="form-massage"></span>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                   <button class="btn btn-primary mr-2">Đổi mật khẩu</button>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                    </div>


                                 </div>
                              </div>
                              <div class="tab-pane fade" id="emailandsms" role="tabpanel">
                                 <div class="iq-card">
                                    <div class="iq-card-header d-flex justify-content-between">
                                       <div class="iq-header-title">
                                          <h4 class="card-title">Email và SMS</h4>
                                       </div>
                                    </div>
                                    <div class="iq-card-body">
                                       <form action="/notification" method="post">
                                          <div class="form-group row align-items-center">
                                             <label class="col-8 col-md-3" for="emailnotification">Thông báo tới
                                                Email
                                                :</label>
                                             <div class="col-4 col-md-9 custom-control custom-switch">
                                                <% let checked=notifi.email_notifi==1 ? "checked" : "" %>
                                                   <input type="checkbox" class="custom-control-input"
                                                      id="emailnotification" name="checksendmail" <%=checked %>
                                                   onclick="mailnotifi(this)" />
                                                   <label class="custom-control-label" for="emailnotification"></label>
                                             </div>
                                          </div>
                                          <div class="form-group row align-items-center">
                                             <label class="col-8 col-md-3" for="smsnotification">Thông báo tới
                                                SMS:</label>
                                             <div class="col-4 col-md-9 custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="smsnotification"
                                                   checked="">
                                                <label class="custom-control-label" for="smsnotification"></label>
                                             </div>
                                          </div>
                                          <!-- <div class="form-group row align-items-center">
                                             <label class="col-md-3" for="npass">Khi nào gửi Email</label>
                                             <div class="col-md-9">
                                                <div class="custom-control custom-checkbox">
                                                   <input type="checkbox" class="custom-control-input" id="email01">
                                                   <label class="custom-control-label" for="email01">Bạn có thông báo
                                                      mới.</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                   <input type="checkbox" class="custom-control-input" id="email02">
                                                   <label class="custom-control-label" for="email02">Bạn đã gửi một
                                                      tin
                                                      nhắn trực tiếp</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                   <input type="checkbox" class="custom-control-input" id="email03"
                                                      checked="">
                                                   <label class="custom-control-label" for="email03">Ai đó thêm bạn
                                                      làm
                                                      kết nối</label>
                                                </div>
                                             </div>
                                          </div> -->
                                          <!-- <div class="form-group row align-items-center">
                                             <label class="col-md-3" for="npass">Khi nào cần báo email</label>
                                             <div class="col-md-9">
                                                <div class="custom-control custom-checkbox">
                                                   <input type="checkbox" class="custom-control-input" id="email04">
                                                   <label class="custom-control-label" for="email04"> Theo đơn đặt
                                                      hàng
                                                      mới.</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                   <input type="checkbox" class="custom-control-input" id="email05">
                                                   <label class="custom-control-label" for="email05"> Phê duyệt thành
                                                      viên mới</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                   <input type="checkbox" class="custom-control-input" id="email06"
                                                      checked="">
                                                   <label class="custom-control-label" for="email06"> Đăng ký thành
                                                      viên</label>
                                                </div>
                                             </div>
                                          </div> -->
                                          <button type="submit" id="submit" class="btn btn-primary mr-2">Gửi</button>
                                          <button type="reset" class="btn iq-bg-danger">Hủy bỏ</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="manage-contact" role="tabpanel">
                                 <div class="iq-card">
                                    <div class="iq-card-header d-flex justify-content-between">
                                       <div class="iq-header-title">
                                          <h4 class="card-title">Quản lý liên hệ</h4>
                                       </div>
                                    </div>
                                    <div class="iq-card-body">
                                       <form method="post" id="form-3">
                                          <div style="display: none; width: 100%;text-align: center;"
                                             class="alert alert-success" role="alert" id="success3">
                                             Cập nhật thông tin thành công
                                          </div>
                                          <div class="alert alert-danger" role="alert"
                                             style="display: none;width: 100%;text-align: center;" id="warning3">
                                             Số diện thoại hoặc email đã tồn tại
                                          </div>
                                          <div class="form-group">
                                             <label for="cno">Số liên lạc:</label>
                                             <input type="text" class="form-control" id="cno" <% if(contact.phone) {%>
                                             value="<%= contact.phone %>" <% } %> name="cno">
                                                   <span class="form-massage"></span>
                                          </div>
                                          <div class="form-group">
                                             <label for="email">Email:</label>
                                             <input type="text" class="form-control" id="email"
                                                value="<%= contact.email%>" name="email">
                                             <span class="form-massage"></span>
                                          </div>

                                          <button type="submit" id="submit" class="btn btn-primary mr-2">Gửi</button>
                                          <button type="reset" class="btn iq-bg-danger">Hủy bỏ</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
   </div>
   <!-- Wrapper END -->
   <!-- Footer -->
   <footer class="iq-footer">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-6">
               <ul class="list-inline mb-0">
                  <li class="list-inline-item"><a href="privacy-policy.html">Chính sách bảo mật</a></li>
                  <li class="list-inline-item"><a href="terms-of-service.html">Điều khoản sử dụng</a></li>
               </ul>
            </div>
            <div class="col-lg-6 text-right">
               Copyright 2020 <a href="#">TVteam</a> Đã đăng ký.
            </div>
         </div>
      </div>
   </footer>
   <!-- Footer END -->
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <%- include ("boostrapJs.ejs") %>
</body>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script> -->

<script src="./js/register.js"></script>
<script>
   Validator({
      form: '#form-3',
      formGroupSelector: '.form-group',
      errorSelect: '.form-massage',

      rules: [

         Validator.isEmail('#email'),
         Validator.isPhone('#cno'),
         Validator.isRequired('#cno', 'Trường này không được để trống'),
         Validator.isRequired('#email', 'Trường này không được để trống'),

      ],
      onSubmit: function (data) {
         // call api
         (async (req, res) => {
            const rawResponse = await fetch('/updateContact', {
               method: 'POST',
               headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
               },

               body: JSON.stringify({ data })
            });

            const result = await rawResponse.json();
            console.log(result.error)

            if (result.error == 0) {
               (function ($) {
                  $('#warning3').hide();
                  $("#success3").fadeIn("slow");
                  $("#success3").fadeIn(3000);
                  $('#success3').show();

                  window.location.replace("http://localhost:8086/adminLogin");
               })(jQuery)
            }
            else {
               (function ($) {
                  $('#success3').hide();
                  $("#warning3").fadeIn("slow");
                  $("#warning3").fadeIn(3000);
                  $('#warning3').show();

               })(jQuery)
            }
            return result
         })()
      }
   })

</script>
<script>
   //mong muốn của chúng ta khi sử dụng cái thư viện này trong tương lai
   Validator({
      form: '#form-1',
      formGroupSelector: '.form-group',
      errorSelect: '.form-massage',

      rules: [


         Validator.minLength('#cpass', 6),
         Validator.minLength('#vpass', 6),
         Validator.minLength('#npass', 6),
         Validator.passback('#vpass', function () {
            return document.querySelector('#form-1 #npass').value;
         }, 'Mật khẩu nhập lại không chính xác'),
         Validator.isRequired('#cpass', 'Trường này không được để trống'),
         Validator.isRequired('#npass', 'Trường này không được để trống'),
         Validator.isRequired('#vpass', 'Trường này không được để trống')

      ],
      onSubmit: function (data) {
         // call api
         (async (req, res) => {
            const rawResponse = await fetch('updatePassword', {
               method: 'POST',
               headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
               },
               body: JSON.stringify({ data })
            });
            const result = await rawResponse.json();


            if (result.error == 0) {
               (function ($) {
                  $('#warning').hide();
                  $("#success").fadeIn("slow");
                  $("#success").fadeIn(3000);
                  $('#success').show();
                  console.log('error')
               })(jQuery)
            }
            else {
               (function ($) {
                  $('#success').hide();
                  $("#warning").fadeIn("slow");
                  $("#warning").fadeIn(3000);
                  $('#warning').show();

               })(jQuery)
            }
            return result
         })();

      }
   })
</script>
<script>
   //mong muốn của chúng ta khi sử dụng cái thư viện này trong tương lai
   Validator({
      form: '#form-1',
      formGroupSelector: '.form-group',
      errorSelect: '.form-massage',

      rules: [


         Validator.minLength('#cpass', 6),
         Validator.minLength('#vpass', 6),
         Validator.minLength('#npass', 6),
         Validator.passback('#vpass', function () {
            return document.querySelector('#form-1 #npass').value;
         }, 'Mật khẩu nhập lại không chính xác'),
         Validator.isRequired('#cpass', 'Trường này không được để trống'),
         Validator.isRequired('#npass', 'Trường này không được để trống'),
         Validator.isRequired('#vpass', 'Trường này không được để trống')

      ],
      onSubmit: function (data) {
         // call api
         (async (req, res) => {
            const rawResponse = await fetch('updatePassword', {
               method: 'POST',
               headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
               },
               body: JSON.stringify({ data })
            });
            const result = await rawResponse.json();


            if (result.error == 0) {
               (function ($) {
                  $('#warning').hide();
                  $("#success").fadeIn("slow");
                  $("#success").fadeIn(3000);
                  $('#success').show();
                  console.log('error')
               })(jQuery)
            }
            else {
               (function ($) {
                  $('#success').hide();
                  $("#warning").fadeIn("slow");
                  $("#warning").fadeIn(3000);
                  $('#warning').show();

               })(jQuery)
            }
            return result
         })();

      }
   })
</script>
<script>
   Validator({
      form: '#form-2',
      formGroupSelector: '.form-group',
      errorSelect: '.form-massage',

      rules: [
         Validator.minLength('#password', 6),
         Validator.minLength('#confPass', 6),
         Validator.passback('#confPass', function () {
            return document.querySelector('#form-2 #password').value;
         }, 'Mật khẩu nhập lại không chính xác'),
         Validator.isRequired('#confPass', 'Trường này không được để trống'),
         Validator.isRequired('#password', 'Trường này không được để trống')

      ],
      onSubmit: function (data) {
         // call api
         (async (req, res) => {
            const rawResponse = await fetch('forgetPassword', {
               method: 'POST',
               headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
               },
               body: JSON.stringify({ data })
            });
            const result = await rawResponse.json();


            if (result.error == 0) {
               (function ($) {
                  $('#warning2').hide();
                  $("#success2").fadeIn("slow");
                  $("#success2").fadeIn(3000);
                  $('#success2').show();
                  console.log('error')
               })(jQuery)
            }
            else {
               (function ($) {
                  $('#success2').hide();
                  $("#warning2").fadeIn("slow");
                  $("#warning2").fadeIn(3000);
                  $('#warning2').show();

               })(jQuery)
            }
            return result
         })();

      }
   })
</script>
<script>

   date = new Date('<%= profile.birddate %>');
   let rs = document.getElementById('dob')
   let a = rs.valueAsDate = date
</script>
<script>

   const mailnotifi = e => {
      let checksendmail = document.getElementById('emailnotification');
      console.log(e.checked)
      fetch('/notification', {
         method: 'POST',
         headers: { 'content-type': 'application/json' },
         body: JSON.stringify({ payload: e.checked })

      })
         .then(res => res.json()).then(data => {
            if (data.status == 0) {
               checksendmail.removeAttribute("checked");
               console.log(e)
            }
            else {
               checksendmail.setAttribute("checked", "checked");
               console.log(e)
            }
         })
   }
   function sendmail(e) {


      fetch('sendMail', {
         method: 'POST',
         headers: { 'content-type': 'application/json' },
         body: JSON.stringify({})
      })

   }
   function nhapma(e) {
      let payload = document.getElementById('value-code').value
      console.log(payload, 'playload')
      fetch('postCode', {
         method: 'POST',
         headers: { 'content-type': 'application/json' },
         body: JSON.stringify({ payload: payload })
      })
         .then(res => res.json()).then(data => {
            if (data.error == 0) {
               let modalPass = document.getElementById('modalPass')
               let modalcode = document.getElementById('modalcode')
               modalcode.classList = "modal fade";
               modalcode.style.display = "none";
               modalPass.classList = "modal fade show";
               modalPass.style.display = "block";

            }
            else {
               (function ($) {
                  $('#warning2').hide();
                  $("#warning2").fadeIn("slow");
                  $("#warning2").fadeIn(3000);
                  $('#warning2').show();

               })(jQuery)
            }

         })

   }
   let closepass = document.getElementById('close-pass')
   closepass.onclick = (e) => {
      let modalPass = document.getElementById('modalPass')
      let modalbackup = document.getElementsByClassName('modal-backdrop')[1]
      console.log(modalbackup)
      modalPass.classList = "modal fade show";
      modalPass.style.display = "none";
      modalbackup.classList = "backdrop fade show";
      modalbackup.style.display = "none";

   }
</script>



</html>